{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.page.show.production_plan'|trans }}: {{ productionPlan.idErp }} от {{productionPlan.dateErp|date("d.m.Y") }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-tab1-tab" data-toggle="pill"
                            href="#custom-tabs-four-tab1" role="tab" aria-controls="custom-tabs-four-tab1"
                            aria-selected="false">Документ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-tab2-tab" data-toggle="pill"
                            href="#custom-tabs-four-tab2" role="tab" aria-controls="custom-tabs-four-tab2"
                            aria-selected="true">Продукция</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="custom-tabs-four-tabContent">
                <div class="tab-pane fade" id="custom-tabs-four-tab1" role="tabpanel"
                    aria-labelledby="custom-tabs-four-tab1-tab">
                    <!-- form start -->
                    <form id="production-plan-form" action="{{ path('production_plan_edit', {'id': productionPlan.id}) }}"
                        method="POST">
                        {% include 'production/plan/_form.html.twig' with {'form': form} only %}
                        <div class="card-footer">

                            {{ form_widget(form.save) }}
                            {{ form_widget(form.saveAndStay) }}

                            <a href="{{ path('production_plan_index') }}" class="btn btn-default float-right">{{
                                'title.cancel'|trans }}</a>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="custom-tabs-four-tab2" role="tabpanel"
                    aria-labelledby="custom-tabs-four-tab2-tab">
                    <div class="card-header">
                        <div class="row">
                            {% if is_granted("ROLE_ADMIN") %}
                            <div class="col-md-12">
                                {% include 'production/item/_controls.html.twig' %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="production-plan-item"
                            class="table table-bordered table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Обозначение</th>
                                    <th>Наименование</th>
                                    <th>Исполнение</th>
                                    <th>Количество</th>
                                    <th>Ед.изм.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Обозначение</th>
                                    <th>Наименование</th>
                                    <th>Исполнение</th>
                                    <th>Количество</th>
                                    <th>Ед.изм.</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    {% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_OGT") and trackDocument.close != 1)%}

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12">
                                {% include 'production/item/_controls.html.twig' %}
                            </div>
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% include 'modals/delete.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- jquery-validation -->
<script src="{{ asset('plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('plugins/jquery-validation/additional-methods.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#production-plan-form').validate({
            rules: {
                'production_plan[id_erp]': {
                    required: false,
                },
                'production_plan[date_erp]': {
                    required: true,
                },
                'production_plan[date_begin_erp]': {
                    required: true,
                },
                'production_plan[date_end_erp]': {
                    required: true,
                },
                'production_plan[account_type]': {
                    required: true,
                },
                'production_plan[note]': {
                    required: false,
                },
            },
            messages: {
                'production_plan[id_erp]': {
                    required: "{{ 'message.validation.required'|trans }}"
                },
                'production_plan[date_erp]': {
                    required: "{{ 'message.validation.required'|trans }}"
                },
                'production_plan[date_begin_erp]': {
                    required: "{{ 'message.validation.required'|trans }}"
                },
                'production_plan[date_end_erp]': {
                    required: true,
                },
                'production_plan[account_type]': {
                    required: true,
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        let locProductionPlanTab = localStorage.getItem('production-plan-tab');
        if ($('#' + locProductionPlanTab).length) {
            $('#' + locProductionPlanTab).tab('show');
        } else {
            $('#custom-tabs-four-tab1-tab').tab('show');
        }

        $('a[data-toggle="pill"]').on('click', function (e) {
            let selectedTabId = e.target.id;
            localStorage.setItem('production-plan-tab', selectedTabId);
        });

        let table = $("#production-plan-item").DataTable({
            "columnDefs": [
                {
                    'render': function (data, type, row) {
                        return row["index_number"];
                    },
                    "name": "index_number",
                    "targets": 0
                },
                {
                    'render': function (data, type, row) {
                        return row["designation"];
                    },
                    "name": "designation",
                    "targets": 1
                },
                {
                    'render': function (data, type, row) {
                        return row["name"];
                    },
                    "name": "name",
                    "targets": 2
                },
                {
                    'render': function (data, type, row) {
                        return row["rendition"];
                    },
                    "name": "rendition",
                    "targets": 3
                },
                {
                    'render': function (data, type, row) {
                        return row["amount"];
                    },
                    "name": "amount",
                    "targets": 4
                },
                {
                    'render': function (data, type, row) {
                        return row["unit"];
                    },
                    "name": "unit",
                    "targets": 5
                },
                {
                    'render': function (data, type, row) {

                        let urlEdit = "/production/plan/" + {{ productionPlan.id }} + "/edit/item/" + row["id"] + "/edit"

                        let buttonEdit = "<a href='" + urlEdit + "' class='btn btn-info' title='{{ 'title.edit'|trans }}'><i class='fas fa-edit'></i></a>";
                        let buttonDelete = "<button type='button' class='btn btn-sm btn-danger float-left modal-delete-dialog' data-toggle='modal' data-id='" + row["id"] + "' title='{{ 'title.delete'|trans }}'><i class='fas fa-trash'></i></button>";
                        return "<div class='btn-group btn-group-sm'>" + buttonEdit + buttonDelete + "</div>";
                    },
                    "name": "control",
                    "orderable": false,
                    "searchable": false,
                    "targets": 6
                },

            ],
            "ajax": {
                "url": "{{ path('datatable_production_plan_item', {'production_plan_id': productionPlan.id}) }}",
                "type": "POST"
            },
            "stateSave": true,
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "autoWidth": false,
            "paging": true,
            "info": true,
            "searching": true,
            "aLengthMenu": [10, 25, 50, 100, 150, 200, 250],
            "pageLength": 100,
            "order": [[0, 'asc']],
            "language": {
                "url": "{{ asset('dist/json/dataTables.ru.lang.json') }}"
            }
        });

        $("#production-plan-item").on("click", ".modal-delete-dialog", function () {
            $('#btn-modal-delete').attr("data-confirm-delete-id", $(this).attr('data-id'));
            $('#modal-delete').modal('show');
        });


        $("#modal-delete").on("click", "#btn-modal-delete", function () {

            let itemId = $(this).attr('data-confirm-delete-id');
            let url = "/production/plan/" + {{ productionPlan.id }} + "/edit/item/" + itemId + "/delete";

            $.ajax({
                type: 'post',
                url: url,
                data: { '_method': 'delete', '_token': '{{ csrf_token('delete-item') }}'},
                dataType: 'json'
            }).done(function (data) {
                table.ajax.reload(null, false);
                toastr.success(data.message);
            });

            $('#btn-modal-delete').attr("data-confirm-delete-id", null);
            $('#modal-delete').modal('hide');
        });

    
    });
</script>
{% endblock %}