{% extends 'base.html.twig' %}

{% block title %}{{ 'title.page.new.production_plan'|trans }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-default">
            <!-- form start -->
            <form id="production-plan-form" action="{{ path('production_plan_new') }}" method="POST">
                {% include 'production/plan/_form.html.twig' with {'form': form} only %}
                <div class="card-footer">
                    {{ form_widget(form.save) }}
                    {{ form_widget(form.saveAndCreateNew) }}
                    <a href="{{ path('production_plan_index') }}" class="btn btn-default float-right">{{
                        'title.cancel'|trans }}</a>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block javascripts %}
<!-- jquery-validation -->
<script src="{{ asset('plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('plugins/jquery-validation/additional-methods.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#production-plan-form').validate({
            rules: {
                'production_plan[id_erp]': {
                    required: false,
                },
                'production_plan[date_erp]': {
                    required: true,
                },
                'production_plan[date_begin_erp]': {
                    required: true,
                },
                'production_plan[date_end_erp]': {
                    required: true,
                },
                'production_plan[account_type]': {
                    required: true,
                },
                'production_plan[note]': {
                    required: false,
                },
            },
            messages: {
                'production_plan[id_erp]': {
                    required: "{{ 'message.validation.required'|trans }}"
                },
                'production_plan[date_erp]': {
                    required: "{{ 'message.validation.required'|trans }}"
                },
                'production_plan[date_begin_erp]': {
                    required: "{{ 'message.validation.required'|trans }}"
                },
                'production_plan[date_end_erp]': {
                    required: true,
                },
                'production_plan[account_type]': {
                    required: true,
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

    });
</script>

{% endblock %}