{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.page.show.production_plan'|trans }}: {{ productionPlan.idErp }} от {{productionPlan.dateErp|date("d.m.Y") }} 
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-tab1-tab" data-toggle="pill"
                            href="#custom-tabs-four-tab1" role="tab" aria-controls="custom-tabs-four-tab1"
                            aria-selected="false">Документ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-tab2-tab" data-toggle="pill"
                            href="#custom-tabs-four-tab2" role="tab" aria-controls="custom-tabs-four-tab2"
                            aria-selected="true">Состав</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="custom-tabs-four-tabContent">
                <div class="tab-pane fade" id="custom-tabs-four-tab1" role="tabpanel"
                    aria-labelledby="custom-tabs-four-tab1-tab">
                    <div class="card-body">
                        <dl>
                            {% if productionPlan.idErp %}
                            <dt>{{ 'label.id_erp'|trans }}</dt>
                            <dd>{{ productionPlan.idErp }}</dd>
                            {% endif %}
                            {% if productionPlan.dateErp %}
                            <dt>{{ 'label.date_erp'|trans }}</dt>
                            <dd>{{ productionPlan.dateErp|date("d.m.Y") }}</dd>
                            {% endif %}
                            {% if productionPlan.dateBeginErp %}
                            <dt>{{ 'label.date_begin_erp'|trans }}</dt>
                            <dd>{{ productionPlan.dateBeginErp|date("d.m.Y") }}</dd>
                            {% endif %}
                            {% if productionPlan.dateEndErp %}
                            <dt>{{ 'label.date_end_erp'|trans }}</dt>
                            <dd>{{ productionPlan.dateEndErp|date("d.m.Y") }}</dd>
                            {% endif %}
                            {% if productionPlan.accountType %}
                            <dt>{{ 'label.account_type'|trans }}</dt>
                            <dd>{{ productionPlanAccountTypes[productionPlan.accountType] }}</dd>
                            {% endif %}

                        </dl>
                    </div>
                </div>
                <div class="tab-pane fade" id="custom-tabs-four-tab2" role="tabpanel"
                    aria-labelledby="custom-tabs-four-tab2-tab">
                    <div class="card-body">
                        <table id="production-plan-item" class="table table-bordered table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Обозначение</th>
                                    <th>Наименование</th>
                                    <th>Исполнение</th>
                                    <th>Количество</th>
                                    <th>Ед.изм.</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Обозначение</th>
                                    <th>Наименование</th>
                                    <th>Исполнение</th>
                                    <th>Количество</th>
                                    <th>Ед.изм.</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        let locProductionPlanTab = localStorage.getItem('production-plan-tab');
        if ($('#' + locProductionPlanTab).length) {
            $('#' + locProductionPlanTab).tab('show');
        } else {
            $('#custom-tabs-four-tab1-tab').tab('show');
        }
        $('a[data-toggle="pill"]').on('click', function (e) {
            let selectedTabId = e.target.id;
            localStorage.setItem('production-plan-tab', selectedTabId);
        });

        let table = $("#production-plan-item").DataTable({
            "columnDefs": [
                {
                    'render': function (data, type, row) {
                        return row["index_number"];
                    },
                    "name": "index_number",
                    "targets": 0
                },
                {
                    'render': function (data, type, row) {
                        return row["designation"];
                    },
                    "name": "designation",
                    "targets": 1
                },
                {
                    'render': function (data, type, row) {
                        return row["name"];
                    },
                    "name": "name",
                    "targets": 2
                },
                {
                    'render': function (data, type, row) {
                        return row["rendition"];
                    },
                    "name": "rendition",
                    "targets": 3
                },
                {
                    'render': function (data, type, row) {
                        return row["amount"];
                    },
                    "name": "amount",
                    "targets": 4
                },
                {
                    'render': function (data, type, row) {
                        return row["unit"];
                    },
                    "name": "unit",
                    "targets": 5
                },

            ],
            "ajax": {
                "url": "{{ path('datatable_production_plan_item', {'production_plan_id': productionPlan.id}) }}",
                "type": "POST"
            },
            "stateSave": true,
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "autoWidth": false,
            "paging": true,
            "info": true,
            "searching": true,
            "aLengthMenu": [ 10, 25, 50, 100, 150, 200, 250 ],
            "pageLength": 100,
            "order": [[0, 'asc']],
            "language": {
                "url": "{{ asset('dist/json/dataTables.ru.lang.json') }}"
            }
        });
    });
</script>
{% endblock %}