{% extends 'base.html.twig' %}

{% block title %}{{ 'title.page.index.technological_operation'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_OGT") %}
                <div class="card-header">
                    {% include 'technological_operation/_controls.html.twig' %}
                </div>
                {% endif %}
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="technologicalOperations" class="table table-bordered table-striped table-hover table-sm">
                        <thead>
                        <tr>
                            <th>Код</th>
                            <th>Код операции</th>
                            <th>Наименование</th>
                            <th>Тип операции</th>
                            <th>Код типа</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Код</th>
                            <th>Код операции</th>
                            <th>Наименование</th>
                            <th>Тип операции</th>
                            <th>Код типа</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_OGT") %}
                <div class="card-footer">
                    {% include 'technological_operation/_controls.html.twig' %}
                </div>
                {% endif %}
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'modals/delete.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>
        $(function () {
            let table = $("#technologicalOperations").DataTable({
                "columnDefs": [
                    // These are the column name variables that will be sent to the server
                    {"name": "id_operation", "targets": 0},
                    {"name": "code_operation", "targets": 1},
                    {"name": "name_operation", "targets": 2},
                    {"name": "type_operation", "targets": 3},
                    {"name": "code_type_operation", "targets": 4},
                    {"name": "control", "targets": 5, "orderable": false, "searchable": false},
                ],
                "ajax": {
                    "url": "{{ path('technological_operation_datatables') }}",
                    "type": "POST"
                },
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "autoWidth": false,
                "paging": true,
                "info": true,
                "searching": true,
                "pageLength": 25,
                "order": [[0, 'asc']],
                "language": {
                    "url": "{{ asset('dist/json/dataTables.ru.lang.json') }}"
                }
            });

            $("#technologicalOperations").on("click", ".modal-delete-dialog", function () {
                $('#btn-modal-delete').attr("data-confirm-delete-id", $(this).attr('data-id'));
                $('#modal-delete').modal('show');
            });

            $("#modal-delete").on("click", "#btn-modal-delete", function () {

                let url = "{{ path('technological_operation_delete', { 'id': 0 }) }}";
                url = url.replace("0", $(this).attr('data-confirm-delete-id'));

                $.ajax({
                    type: 'post',
                    url: url,
                    data: {'_method': 'delete', '_token': '{{ csrf_token('delete-item') }}'},
                    dataType: 'json'
                }).done(function (data) {
                    table.ajax.reload(null, false);
                    if (data.messageError) {
                        toastr.error(data.messageError);
                    } else if (data.messageSuccess) {
                        toastr.success(data.messageSuccess);
                    }
                });

                $('#btn-modal-delete').attr("data-confirm-delete-id", null);
                $('#modal-delete').modal('hide');
            });
        });
    </script>

{% endblock %}