{% extends 'base.html.twig' %}

{% block title %}{{ 'title.page.index.product'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_OGK")  or is_granted("ROLE_OGT") or is_granted("ROLE_PEO")  or is_granted("ROLE_BUH") %}
                <div class="card-header">
                    {% include 'product/_controls.html.twig' %}
                </div>
                {% endif %}
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="products" class="table table-bordered table-striped table-hover table-sm">
                        <thead>
                        <tr>
                            <th width="3%" class="toggle-all"><i id="select_all" name="select_invoice"></i></th>
                            <th></th>
                            <th width="2%"></th>
                            <th>Код</th>
                            <th>Обозначение</th>
                            <th>Наименование</th>
                            <th width="25%">Группа - Тип - Вид - Категория - Статья калькуляции - Группа аналит. учета - Группа фин. учета</th>
                            <th width="7%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Код</th>
                            <th>Обозначение</th>
                            <th>Наименование</th>
                            <th>Группа - Тип - Вид - Категория - Статья калькуляции - Группа аналит. учета - Группа фин. учета</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_OGK")  or is_granted("ROLE_OGT") %}
                <div class="card-footer">
                    {% include 'product/_controls.html.twig' %}
                </div>
                {% endif %}
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'modals/delete.html.twig' %}
    {% include 'modals/edit_group_products.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            let table = $("#products").DataTable({
                "columnDefs": [
                    {
                        'render': function (data, type, row) {
                            return '';
                        },
                        "name": "checkbox",
                        "targets": 0,
                        "orderable": false,
                        "searchable": false,
                        className: 'select-checkbox',
                    },
                    {
                        'render': function (data, type, row) {
                            return row["id"];
                        },
                        "name": "yid", 
                        "targets": 1, 
                        "orderable": false, 
                        "searchable": false, 
                        className: "hide_column",
                    },
                    {
                        'render': function (data, type, row) {
                            symbol = '';
                            if (row["intype"] === 1) {
                                symbol = '<i class="fas fa fa-cube nav-icon"></i>';
                            } else if (row["intype"] === 3) {
                                symbol = '<i class="fas fa fa-leaf nav-icon"></i>';
                            } else if (row["intype"] === 4) {
                                symbol = '<i class="fas fa fa-book nav-icon"></i>';
                            } else {
                                symbol = row["intype"];
                            }
                            return symbol;
                        },
                        "name": "symbol", 
                        "targets": 2, 
                        "orderable": false, 
                        "searchable": false, 
                    },
                    {
                        'render': function (data, type, row) {

                            let urlShow = '';
                            if (row["intype"] === 1) {
                                urlShow = "{{ path('product_show', { 'id': 0 }) }}";
                            } else if (row["intype"] === 3) {
                                urlShow = "{{ path('material_show', { 'id': 0 }) }}";
                            } else if (row["intype"] === 4) {
                                urlShow = "{{ path('document_show', { 'id': 0 }) }}";
                            } else {
                                urlShow = row["id"];
                            }

                            urlShow = urlShow.replace("0", row["id"]);

                            return "<a href='" + urlShow + "' class='float-left'>" + row["id"] + "</a>";
                        },
                        "name": "id", 
                        "targets": 3
                    },
                    {
                        'render': function (data, type, row) {
                            return row["designation"];
                        },
                        "name": "designation", 
                        "targets": 4
                    },
                    {
                        'render': function (data, type, row) {
                            return row["name"];
                        },
                        "name": "name", 
                        "targets": 5
                    },
                    {
                        'render': function (data, type, row) {
                            let groups = '';
                            if (row["intype"] === 1 || row["intype"] === 3) {
                                groups = row["product_group_name"] + ' - ' + row["product_type_name"] + ' - ' + row["product_kind_name"] + ' - ' + row["product_category_name"] + ' - ' + row["product_analytic_group_name"] + ' - ' + row["product_finance_group_name"];
                            } 
                            return groups;
                        },
                        "name": "groups", 
                        "targets": 6
                    },
                    {
                        'render': function (data, type, row) {

                            let cnt = 7;
                            let ready = 0;
                            if (row["product_group_id"] != 1) {
                                ready += 100 / cnt;
                            }
                            if (row["product_type_id"] != 1) {
                                ready += 100 / cnt;
                            }
                            if (row["product_kind_id"] != 1) {
                                ready += 100 / cnt;
                            }
                            if (row["product_category_id"] != 1) {
                                ready += 100 / cnt;
                            }
                            if (row["product_calculation_id"] != 1) {
                                ready += 100 / cnt;
                            }
                            if (row["product_finance_group_id"] != 1) {
                                ready += 100 / cnt;
                            }
                            if (row["product_analytic_group_id"] != 1) {
                                ready += 100 / cnt;
                            }

                            let urlShow = '';
                            if (row["intype"] === 1) {
                                urlShow = "{{ path('product_show', { 'id': 0 }) }}";
                            } else if (row["intype"] === 3) {
                                urlShow = "{{ path('material_show', { 'id': 0 }) }}";
                            } else if (row["intype"] === 4) {
                                urlShow = "{{ path('document_show', { 'id': 0 }) }}";
                            } else {
                                urlShow = row["id"];
                            }
                            urlShow = urlShow.replace("0", row["id"]);

                            let urlEdit = '';
                            {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_OGK")) %}
                                if (row["intype"] === 1) {
                                    urlEdit = "{{ path('product_edit', { 'id': 0 }) }}";
                                } else if (row["intype"] === 3) {
                                    urlEdit = "{{ path('material_edit', { 'id': 0 }) }}";
                                } else if (row["intype"] === 4) {
                                    urlEdit = "{{ path('document_edit', { 'id': 0 }) }}";
                                }
                                urlEdit = urlEdit.replace("0", row["id"]);
                            {% elseif (is_granted("ROLE_OGT") or is_granted("ROLE_PEO") or is_granted("ROLE_BUH")) %}
                                if (row["intype"] === 1) {
                                    urlEdit = "{{ path('product_edit', { 'id': 0 }) }}";
                                } else if (row["intype"] === 3) {
                                    urlEdit = "{{ path('material_edit', { 'id': 0 }) }}";
                                }
                                urlEdit = urlEdit.replace("0", row["id"]);
                            {% endif %}

                            let buttonShow = "<li><a href='" + urlShow + "' class='dropdown-item' title='{{ 'title.show'|trans }}'>{{ 'title.show'|trans }}</a></li>";

                            let buttonEdit = '';
                            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_OGK") or is_granted("ROLE_OGT") or is_granted("ROLE_PEO") or is_granted("ROLE_BUH") %}
                                if (urlEdit) {
                                    buttonEdit = "<li><a href='" + urlEdit + "' class='dropdown-item' title='{{ 'title.edit'|trans }}'>{{ 'title.edit'|trans }}</a></li>";
                                }
                            {% endif %}

                            let buttonDelete = '';
                            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_OGK") %}
                                buttonDelete = "<li><a href='' class='dropdown-item modal-delete-dialog' title='{{ 'title.delete'|trans }}' data-toggle='modal' data-id='" + row["id"] + "'>{{ 'title.delete'|trans }}</a></li>";
                            {% endif %}


                            let groupInfo = "";
                            groupInfo += "<div class='btn-group btn-group-sm dropleft ml-1'>";
	                        groupInfo += "<button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>";
       
                            if (Math.round(ready) == 100) {
	                            groupInfo += "<i class='fa fa-check text-success' aria-hidden='true'></i>";
                            } else {
                                groupInfo += "<img src='{{ asset('dist/img/fire.gif') }}'  width='20'>";
                            }

                            groupInfo += "</button>";
                            groupInfo += "<ul class='dropdown-menu'>";
                            groupInfo += "<li class='dropdown-item'>";
        	                groupInfo += "Группа: " + row["product_group_name"];
                            groupInfo += "</li>";
                            groupInfo += "<li class='dropdown-item'>";
        	                groupInfo += "Тип: " + row["product_type_name"];
                            groupInfo += "</li>";
                            groupInfo += "<li class='dropdown-item'>";
        	                groupInfo += "Вид: " + row["product_kind_name"];
                            groupInfo += "</li>";
                            groupInfo += "<li class='dropdown-item'>";
        	                groupInfo += "Категория: " + row["product_category_name"];
                            groupInfo += "</li>";
                            groupInfo += "<li class='dropdown-item'>";
        	                groupInfo += "Статья калькуляции: " + row["product_calculation_name"];
                            groupInfo += "</li>";
                            groupInfo += "<li class='dropdown-item'>";
        	                groupInfo += "Группа аналит. учета: " + row["product_analytic_group_name"];
                            groupInfo += "</li>";
                            groupInfo += "<li class='dropdown-item'>";
        	                groupInfo += "Группа фин. учета: " + row["product_finance_group_name"];
                            groupInfo += "</li>";
                            groupInfo += "</ul>";
                            groupInfo += "</div>";

                            if (row["intype"] === 4) {
                                groupInfo = '';
                            } 

                            return "<div class='btn-group btn-group-sm dropleft ml-1'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></button><ul class='dropdown-menu'>" + buttonShow + buttonEdit + buttonDelete + "</ul></div>" + groupInfo;
                            
                        },
                        "name": "control", 
                        "targets": 7, 
                        "orderable": false, 
                        "searchable": false
                    },
                ],
                "ajax": {
                    "url": "{{ path('product_datatables') }}",
                    "type": "POST"
                },
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "autoWidth": false,
                "paging": true,
                "info": true,
                "searching": true,
                "pageLength": 25,
                "order": [[5, 'asc']],
                "language": {
                    "url": "{{ asset('dist/json/dataTables.ru.lang.json') }}"
                },
                "select": {
                    "style": "multi",
                    "selector": "td:first-child"

                },

            }).on('select.dt deselect.dt', function (evtObj) {
                let all = table.rows().nodes().length;
                let sel = table.rows(".selected").nodes().length;

                if (all === sel) {

                    $(".toggle-all").closest("tr").addClass("selected");
                } else {

                    $(".toggle-all").closest("tr").removeClass("selected");
                }

            });


            $('#products').on('click', '.toggle-all', function () {
                $(this).closest("tr").toggleClass("selected");
                if ($(this).closest("tr").hasClass("selected")) {
                    table.rows().select();
                } else {
                    table.rows().deselect();
                }

            });

            $("#products").on("click", ".modal-delete-dialog", function () {
                $('#btn-modal-delete').attr("data-confirm-delete-id", $(this).attr('data-id'));
                $('#modal-delete').modal('show');
            });

            $("#modal-delete").on("click", "#btn-modal-delete", function () {

                let url = "{{ path('product_delete', { 'id': 0 }) }}";
                url = url.replace("0", $(this).attr('data-confirm-delete-id'));

                $.ajax({
                    type: 'post',
                    url: url,
                    data: {'_method': 'delete', '_token': '{{ csrf_token('delete-item') }}'},
                    dataType: 'json'
                }).done(function (data) {
                    table.ajax.reload(null, false);
                    if (data.messageError) {
                        toastr.error(data.messageError);
                    } else if (data.messageSuccess) {
                        toastr.success(data.messageSuccess);
                    }
                });

                $('#btn-modal-delete').attr("data-confirm-delete-id", null);
                $('#modal-delete').modal('hide');
            });


            let productsEdit = [];
            $(".edit-group").on("click", function () {
                $.each(table.rows(".selected").data().toArray(), function( index, value ) {
                    productsEdit.push(value.id);
                });
                if (productsEdit.length > 0) {
                    $('#modal-edit-group').modal('show');
                }
            });

            $("#modal-edit-group").on("click", "#btn-modal-edit", function () {

                if (productsEdit.length === 0) {
                    $('#modal-edit-group').modal('hide');
                    return;
                }

                let formData = {};

                if ($("#edit-form #edit-group").is(':checked')) {
                    formData.groupSelect = $("#edit-form #group-select").val();
                }
                if ($("#edit-form #edit-type").is(':checked')) {
                    formData.typeSelect = $("#edit-form #type-select").val();
                }
                if ($("#edit-form #edit-kind").is(':checked')) {
                    formData.kindSelect = $("#edit-form #kind-select").val();
                }
                if ($("#edit-form #edit-category").is(':checked')) {
                    formData.categorySelect = $("#edit-form #category-select").val();
                }

                if ($("#edit-form #edit-calculation").is(':checked')) {
                    formData.calculationSelect = $("#edit-form #calculation-select").val();
                }

                if ($("#edit-form #edit-analytic-group").is(':checked')) {
                    formData.analyticGroupSelect = $("#edit-form #analytic-group-select").val();
                }

                if ($("#edit-form #edit-finance-group").is(':checked')) {
                    formData.financeGroupSelect = $("#edit-form #finance-group-select").val();
                }

                if ($.isEmptyObject(formData)) {
                    $('#modal-edit-group').modal('hide');
                    return;
                }

                let url = "{{ path('products_list_edit') }}";

                $.ajax({
                    type: 'post',
                    url: url,
                    data: {
                        '_method': 'post',
                        '_token': '{{ csrf_token('products-list-edit') }}',
                        'productsEdit': JSON.stringify(productsEdit),
                        'formData': JSON.stringify(formData)
                    },
                    dataType: 'json'
                }).done(function (data) {
                    table.ajax.reload(null, false);
                    toastr.success(data.message);
                });


                $('#modal-edit-group').modal('hide');
            });
        });
    </script>

{% endblock %}