{% extends 'base.html.twig' %}

{% block title %}Потребность материалов и покупных деталей: <small>по плану производства № {{ productionPlan.idErp }} от {{ productionPlan.dateErp|date("d.m.Y") }} - {{ accountTypes[productionPlan.accountType] }}, дата производства с {{ productionPlan.dateBeginErp|date("d.m.Y") }} - по {{ productionPlan.dateEndErp|date("d.m.Y") }} на  {{ product.name }} {{ product.designation }}</small>{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <h5>Общая информация</h5>
                <table class="table table-hover table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Код</th>
                            <td>
                            {% if (product.intype == 1) %}
                                <a href="{{ path('product_show', {'id': product.id }) }}">{{ product.id }}</a>
                            {% elseif (product.intype == 3) %}
                                <a href="{{ path('material_show', {'id': product.id }) }}">{{ product.id }}</a>
                            {% endif %}
                            <td>
                        </tr>
                        {% if product.name %}
                        <tr>
                            <th scope="row">{{ 'label.name'|trans }}</th>
                            <td>{{ product.name }}</td>
                        </tr>
                        {% endif %}
                        {% if product.designation %}
                        <tr>
                            <th scope="row">{{ 'label.designation'|trans }}</th>
                            <td>{{ product.designation }}</td>
                        </tr>
                        {% endif %}
                        {% if product.weight %}
                        <tr>
                            <th scope="row">{{ 'label.weight'|trans }}</th>
                            <td>{{ product.weight }}</td>
                        </tr>
                        {% endif %}
                        {% if product.unit %}
                        <tr>
                            <th scope="row">{{ 'label.unit'|trans }}</th>
                            <td>{{ product.unit.name }}</td>
                        </tr>
                        {% endif %}
                        {% if product.productCategory %}
                        <tr>
                            <th scope="row">{{ 'label.product_category'|trans }}</th>
                            <td>{{ product.productCategory.name }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">Количество для плана, <span>{{ product.unit.name }}</th>
                            <td>{{ needPurchasedProduct.amountAll }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Остаток на складе закупок на нач месяца, <span>{{ product.unit.name }}</span></th>
                            <td>{{ needPurchasedProduct.balanceBuy }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Остаток на производстве на нач. месяца, <span>{{ product.unit.name }}</th>
                            <td>{{ needPurchasedProduct.balanceManufacture }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Итого к закупке, <span>{{ product.unit.name }}</th>
                            <th>{{ needPurchasedProduct.amountResult }}</th>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h5>Детализация</h5>
                <table id="detailing" class="table table-bordered table-striped table-hover table-sm"></table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}


{% block javascripts %}
<script>
    $(function () {
        let $table = $('#detailing');

        let url = "{{ path('purchased_product_detailing', { 'production_plan_id': '0pl', 'id': '0pr' }) }}";
        url = url.replace('0pl', "{{ productionPlan.id }}");
        url = url.replace('0pr', "{{ product.id }}");

        $.ajax({
            type: 'post',
            url: url,
            data: {'_method': 'post', '_token': '{{ csrf_token('purchased-product-detailing') }}'},
            dataType: 'json',
            timeout: 30000,
        }).done(function (result) {
            data = result['data'];
            console.log(data);
            loadData(data);
        });

        function loadData(data) {

            $table.bootstrapTable({
                data:data,
                idField: 'id',
                dataType:'jsonp',
                columns: [
                    { field: 'name',  title: 'Наименование', sortable: true },
                    { field: 'designation',  title: 'Обозначение', sortable: true },
                    { field: 'unit',  title: 'Ед.изм.', sortable: false,  width: 30},
                    { field: 'product',  title: '', sortable: false,  width: 30, formatter: function (value, row, index) {
                        return row.intype == 1 ? '<a href="/product/' + row.productId + '" target="_blank"><i class="fa fa-cube nav-icon"></i></a>': ( row.intype == 3 ? '<a href="/material/' + row.productId + '" target="_blank"><i class="fas fa-leaf nav-icon"></i></a>' : '')
                    }},
                    { field: 'document',  title: '', sortable: false,  width: 30, formatter: function (value, row, index) {
                        return row.specificationId ? '<a href="/specification/' + row.specificationId + '" target="_blank"><i class="fas fa-tasks nav-icon"></i></a>': ( row.normDocumentId ? '<a href="/norm/document/' + row.normDocumentId + '" target="_blank"><i class="fas fa-shopping-basket nav-icon"></i></a>' : '')
                    }},
                    { field: 'amountStandart',  title: 'Норма', sortable: true,  width: 30,  align: 'center', formatter: function (value, row, index) {
                        return row.amountStandart > 0 ? row.amountStandart : '';
                    }},
                    { field: 'amount',  title: 'План', sortable: true,  width: 30,  align: 'center', formatter: function (value, row, index) {  
                        return row.amount > 0 ? row.amount : '';
                    }}, 
                    { field: 'amountAll',  title: 'Кол-во', sortable: true,  width: 30, align: 'center', formatter: function (value, row, index) {  
                        return row.amountAll > 0 ? row.amountAll : '';
                    }},                    
                ],
                treeShowField: 'name',
                parentIdField: 'pid',
                onResetView: function(data) {
                    $table.treegrid({
                        initialState: 'expanded',
                        treeColumn: 0,
                    });
                },
                onCheck:function(row){
                    let datas = $table.bootstrapTable('getData');
                    selectChilds(datas,row,"id","pid",true);
                    selectParentChecked(datas,row,"id","pid")
                    $table.bootstrapTable('load', datas);
                },

                onUncheck:function(row){
                    let datas = $table.bootstrapTable('getData');
                    selectChilds(datas,row,"id","pid",false);
                    $table.bootstrapTable('load', datas);
                },
            });
        };


    });
</script>

{% endblock %}