<div class="card-body">
    {{ form_row(form._token) }}

    <div class="form-group">
        {{ form_label(form.department) }}
        {{ form_widget(form.department) }}

        {% if form.department.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.department.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


    <div class="form-group">
        {{ form_label(form.number_operation) }}
        {{ form_widget(form.number_operation) }}

        {% if form.number_operation.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.number_operation.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.technological_operation) }}
        {{ form_widget(form.technological_operation) }}

        {% if form.technological_operation.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.technological_operation.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.time_processing) }}
        {{ form_widget(form.time_processing, {'type' : 'number'}) }}

        {% if form.time_processing.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.time_processing.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.time_piece) }}
        {{ form_widget(form.time_piece, {'type' : 'number'}) }}

        {% if form.time_piece.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.time_piece.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


</div>
<!-- /.card-body -->

