{% extends 'base.html.twig' %}

{% block title %}{{ 'title.page.index.material_requirement'|trans }} <span id="requirement-error" class="badge badge-danger"></span>{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% include 'material/_controls_requirement.html.twig' %}
                </div>
                <!-- /.card-header -->
                <div id="js-spinner-materials-requirement" class="spinner-border spinner-materials-requirement" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id="js-card-body-materials-requirement" class="card-body">
                    <table id="materials-requirement" class="table table-bordered table-striped table-hover table-sm">
                        <thead>
                        <tr>
                            <th width="2%">Код</th>
                            <th>Наименование</th>
                            <th>Обозначение</th>
                            <th width="8%">Ед.изм.</th>
                            <th width="8%">Кол-во план</th>
                            <th width="8%">Остаток склад</th>
                            <th width="8%">Остаток мат. отчет</th>
                            <th width="8%">Кол-во итог</th>
                            <th width="10%">Информация</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Код</th>
                            <th>Наименование</th>
                            <th>Обозначение</th>
                            <th>Ед.изм.</th>
                            <th>Кол-во план</th>
                            <th>Остаток склад</th>
                            <th>Остаток мат. отчет</th>
                            <th>Кол-во итог</th>
                            <th>Информация</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'modals/show_requirement.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>

        $(function () {

            let table = $("#materials-requirement").DataTable({
                "columns": [
                    {
                        'render': function (data, type, row) {
                            return row["id"];
                        },
                        "name": "id",
                        "targets": 0
                    },
                    {
                        'render': function (data, type, row) {
                            return row["name"];
                        },
                        "name": "name",
                        "targets": 1
                    },
                    {
                        'render': function (data, type, row) {
                            return row["designation"];
                        },
                        "name": "designation",
                        "targets": 2
                    },
                    {
                        'render': function (data, type, row) {
                            return row["unitName"];
                        },
                        "name": "unitName",
                        "targets": 3
                    },
                    {
                        'render': function (data, type, row) {
                            return row["amountAll"];
                        },
                        "name": "amountAll",
                        "targets": 4
                    },
                    {
                        'render': function (data, type, row) {
                            return row["balanceBuy"];
                        },
                        "name": "balanceBuy",
                        "targets": 5
                    },
                    {
                        'render': function (data, type, row) {
                            return row["balanceManufacture"];
                        },
                        "name": "balanceManufacture",
                        "targets": 6
                    },
                    {
                        'render': function (data, type, row) {
                            return row["amountResult"];
                        },
                        "name": "amountResult",
                        "className": "table-cell-edit",
                        "targets": 7
                    },
                    {
                        'render': function (data, type, row) {
                           return "<button type='button' class='btn btn-sm btn-dark float-left modal-show-requirement-dialog' data-toggle='modal' data-id='" + row['id'] + "' data-unit='" + row['unitName'] + "' data-roots='" + JSON.stringify(row['roots']) + "' data-name='" + row["name"] + (row["designation"] ? ' ' + row["designation"] : '' )  + "'  data-amount-result='" + row['amountResult'] + "'  data-balance-manufacture='" + row['balanceManufacture'] + "'  data-balance-buy='" + row['balanceBuy'] + "'  data-amount-all='" + row['amountAll'] + "'><i class='fas fa-eye'></i> Посмотреть</button>";
                        },
                        "name": "root",
                        "targets": 8,
                        "orderable": false
                    },
                ],
                "stateSave": true,
                "processing": true,
                "responsive": true,
                "autoWidth": false,
                "paging": true,
                "info": true,
                "searching": true,
                "responsive": false,
                "pageLength": 25,
                "initComplete": function (settings, json) {  
                    $("#materials-requirement").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
                },
                "language": {
                    "url": "{{ asset('dist/json/dataTables.ru.lang.json') }}"
                }
            });


            $(document).on('click','.js-calculate-requirement-materials',function(){

                idProductionPlan = $('#production_plans').val();

                if (!idProductionPlan) {
                    alert('Необходимо выбрать план');
                    return;
                };

                let url = "{{ path('materials_requirement_calculate') }}";

                $("#js-card-body-materials-requirement"). css("display", "none");
                $("#js-spinner-materials-requirement"). css("display", "block");
                $(this).attr("disabled", true);

                $.ajax({
                    type: 'post',
                    url: url,
                    timeout: 150000,
                    // async: false,
                    data: {
                        '_method': 'post', 
                        '_token': '{{ csrf_token('calculate-requirement-materials') }}',
                        'idProductionPlan': idProductionPlan
                        
                    },
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);

                    $('.js-calculate-requirement-materials').prop("disabled", false);
                    $("#js-card-body-materials-requirement"). css("display", "block");
                    $("#js-spinner-materials-requirement"). css("display", "none");

                    table.clear();
                    table.rows.add(data.materials).draw();
                    
                }).fail(function (jqXHR, textStatus) {
                    console.log(textStatus);

                    $('.js-calculate-requirement-materials').prop("disabled", false);
                    $("#js-card-body-materials-requirement"). css("display", "block");
                    $("#js-spinner-materials-requirement"). css("display", "none");

                    table.clear();
                });

                

            });

            $("#production_plans").select2({
                ajax: {
                    type: "POST",
                    url: "{{ path('production_plans') }}",
                    dataType: 'json',
                    delay: 350,
                    cache: true,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page || 1
                        };
                    }
                }
            });


            $("#materials-requirement").on("click", ".modal-show-requirement-dialog", function () {
                $('#js-modal-title').text($(this).attr('data-name'));
                $('.js-unit').text($(this).attr('data-unit'));

                $('#js-amount-all').text($(this).attr('data-amount-all'));
                $('#js-balance-buy').text($(this).attr('data-balance-buy'));
                $('#js-balance-manufacture').text($(this).attr('data-balance-manufacture'));
                $('#js-amount-result').text($(this).attr('data-amount-result'));

                let roots = JSON.parse($(this).attr('data-roots'));

                let tableStr = "";
                let resultFoot = 0;
                for (let element of roots) {

                    let prefix = "";

                    for (const property in element) {

                        if (property === 'expense') {
                            resultFoot += round(element[property]['amountAll'], 6);
                        }

                        tableStr += "<tr>"
                        tableStr += "<td>"
                        tableStr += prefix + ' ' + element[property]['name'] + (element[property]['designation'] ? ' ' + element[property]['designation'] : '' )
                        tableStr += "</td>"
                        tableStr += "<td>"
                        tableStr += element[property]['renditionName'] ?? ''
                        tableStr += "</td>"
                        tableStr += "<td>"
                        tableStr += element[property]['structureRenditionName'] ?? ''
                        tableStr += "</td>"
                        tableStr += "<td>"
                        tableStr += (property === 'expense') ? round(element[property]['amountStandard'], 6) : ''
                        tableStr += "</td>"
                        tableStr += "<td>"
                        tableStr += (property === 'expense') ? round(element[property]['amount'], 6) : ''
                        tableStr += "</td>"
                        tableStr += "<td>"
                        tableStr += (property === 'expense') ? round(element[property]['amountAll'], 6) : round(element[property]['amount'], 6)
                        tableStr += "</td>"
                        tableStr += "</tr>"

                        prefix += '--';
                    };

                };

                $('#js-foot-result').text(resultFoot);

                $('#js-detailing').html(tableStr);
                
                $('#modal-show-requirement').modal('show');
            });

            $("#modal-show-requirement").on("click", "#btn-modal-show-requirement-close", function () {
                $('#modal-show-requirement').modal('hide');
            });

            function round(num, decimalPlaces = 0) {
                num = Math.round(num + "e" + decimalPlaces);
                return Number(num + "e" + -decimalPlaces);
            }

        });

    </script>
{% endblock %}